@font-face {
    font-family: 'AudiowideRegular';
    src: url('../fonts/AudiowideRegular.eot');
    src: url('../fonts/AudiowideRegular.eot') format('embedded-opentype'),
    url('../fonts/AudiowideRegular.woff2') format('woff2'),
    url('../fonts/AudiowideRegular.woff') format('woff'),
    url('../fonts/AudiowideRegular.ttf') format('truetype'),
    url('../fonts/AudiowideRegular.svg#AudiowideRegular') format('svg');
}

@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/LatoBlack.eot');
    src: url('../fonts/LatoBlack.eot') format('embedded-opentype'),
    url('../fonts/LatoBlack.woff2') format('woff2'),
    url('../fonts/LatoBlack.woff') format('woff'),
    url('../fonts/LatoBlack.ttf') format('truetype'),
    url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
    url('../fonts/LatoBold.woff2') format('woff2'),
    url('../fonts/LatoBold.woff') format('woff'),
    url('../fonts/LatoBold.ttf') format('truetype'),
    url('../fonts/LatoBold.svg#LatoBold') format('svg');
}

@font-face {
    font-family: 'LatoItalic';
    src: url('../fonts/LatoItalic.eot');
    src: url('../fonts/LatoItalic.eot') format('embedded-opentype'),
    url('../fonts/LatoItalic.woff2') format('woff2'),
    url('../fonts/LatoItalic.woff') format('woff'),
    url('../fonts/LatoItalic.ttf') format('truetype'),
    url('../fonts/LatoItalic.svg#LatoItalic') format('svg');
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
    url('../fonts/LatoRegular.woff2') format('woff2'),
    url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype'),
    url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}

.infoblock .infoblock__rows {

}

.infoblock .rows__row {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.infoblock .infoblock__rows--phones {
    position: relative;
    bottom: 450px;
}

.infoblock .rows--phones--dozen-p {
    padding-top: 25px;
}

.infoblock .row--kat__p {
    position: relative;
    bottom: 300px;
}

.infoblock .infoblock__rows--huge-header-block {
    margin: 20px 0;
}

.infoblock .rows__row--kat-logo {
    width: 37%;
}

.infoblock .rows__row--kat-logo-desc {
    width: 62%;
}

.infoblock .infoblock__huge-header {
    font-family: AudiowideRegular, helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 95px;
    line-height: 95px;
    text-align: center;
    text-shadow: none;
    color: black;
    padding-bottom: 5px;
}

.infoblock .huge-header__image {
    margin-top: 10px;
}

.infoblock .infoblock__sub-header {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 32px;
    line-height: 32px;
}

.infoblock .infoblock__sub-header--kat-header {
    float: right;
}


/*************************************************************************************************************/
/************************************************** KAT first page *******************************************/
/*************************************************************************************************************/

.infoblock .rows__row--kat {
    padding: 0 5px;
}

.infoblock .infoblock__sub-header--bold {
    font-family: LatoBlack; /* font-weight: bold; */
}

.infoblock .infoblock__sub-header--italic {
    font-family: LatoItalic; /* font-style: italic; */
}

.infoblock .figure__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-title {
    position: relative;
    font-family: LatoBlack; /* font-weight: bold; */
}

.infoblock .image-text {
    margin-left: 40px;
    font-family: LatoItalic;
    /* font-style: italic; */
    font-size: 21px;
    margin-top: -20px;
}

.infoblock .image-title--stacks-view {
    position: relative;
    bottom: 250px;
    left: 175px;
}

.infoblock .figure__image--120 {
    width: 120%;
    height: 120%;
}

.infoblock .image-bottom-header {
    font-weight: normal;
    margin-left: 60px;
    margin-top: -44px;
    padding-bottom: 12px;
    width: 50%;
    text-align: justify;
}

.infoblock .row--kat__right-middle-block {

}

.infoblock .right-middle-block__text {
    width: 34%;
    text-align: right;
    font-family: LatoItalic;
    /* font-style: italic; */
    position: relative;
    margin-top: 45px;
    left: 25px;
}

.infoblock .right-middle-block__image {
    width: 59%;
}

.infoblock .infoblock__kat-phones {
    height: 670px;
    background: url("../images/KIC_KAT/kat_phones.png") no-repeat;
    background-size: 100% 670px;
    margin-top: -528px;
    margin-bottom: 105px;
}

.infoblock .image-title--search-screen {
    top: 10px;
    left: 190px;
}

.infoblock .image-title--bibliography-view {
    text-align: right;
    left: 530px;
    top: 150px;
}

.infoblock .image-title--shelf-view {
    top: 330px;
    right: 75px;
}

.infoblock .kat-phones__note--left {
    font-family: LatoItalic; /* font-style: italic; */
    text-align: center;
    font-size: 18px;
}

.infoblock .note--left__top {
    position: relative;
    left: 10px;
    top: 50px;
    width: 38%;
}

.infoblock .note--left__bottom {
    position: relative;
    left: 10px;
    top: 300px;
    width: 25%;
}

.infoblock .kat-phones__note--right {
    font-size: 19px;
    font-family: LatoItalic;
    position: relative;
    left: 980px;
    top: 158px;
    padding: 15px 0;
    width: 17%;
}

.infoblock .infoblock__reading-list {
    border-radius: 5px;
    background-color: #DEDEDE;
    position: relative;
    margin-top: -370px;
    left: 52%;
    width: 47%;
}

.infoblock .reading-list__header {
    position: relative;
    font-family: LatoBlack;
    /* font-weight: bold; */
    font-size: 23px;
    left: 55px;
    top: 5px;
    margin-bottom: -20px;
}

.infoblock .reading-list__footer {
    position: relative;
    /* margin-top: -30px; */
    left: 33px;
    top: 25px;
}

.infoblock .reading-list__professor-info-block {
    position: relative;
    font-size: 21px;
    left: 15px;
    margin-top: -85px;
    padding-bottom: 55px;
    line-height: 10px;
}

/*************************************************************************************************************/
/************************************************** KAT second page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__header {
    color: black;
    font-family: LatoBlack; /* font-weight: bold; */
    font-size: 60px;
    text-shadow: none;
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 0;
    line-height: 60px;
}

.infoblock .infoblock__image {
    width: 75%;
    height: 75%;
    margin: 35px 0 35px 13%
}

.infoblock .infoblock__sub-header--APIWTW {
    font-family: LatoItalic;
    /* font-style: italic; */
    margin-left: 204px;
    width: 75%;
    font-size: 27px;
    line-height: 27px;
}

.infoblock .infoblock__centered-text {
    margin: -15px 0 -25px 204px;
    width: 75%;
}

.infoblock .infoblock__bottom-text {
    position: relative;
    left: 504px;
    margin-top: -156px;
    padding-bottom: 100px;
    width: 41%;
}

/*************************************************************************************************************/
/************************************************** KAT third page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--STW {
    font-family: LatoItalic;
    /* font-style: italic; */
    margin-bottom: -25px;
    margin-left: 168px;
    width: 75%;
    font-size: 27px;
    line-height: 27px;
    text-align: center;
}

/*************************************************************************************************************/
/************************************************** KAT fourth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--WIYS {
    font-family: LatoItalic; /* font-style: italic; */
    text-align: center;
    margin-left: 144px;
    margin-bottom: 20px;
    width: 75%;
}

.infoblock .infoblock__image--WIYS {
    width: 100%;
    height: 100%;
    margin-left: 36px;
}

.infoblock .infoblock__centered-text--WIYS {
    margin-left: 144px;
    width: 75%;
}

/*************************************************************************************************************/
/************************************************** KAT fifth page *******************************************/
/*************************************************************************************************************/

.infoblock .text-rows__text-row {
    display: inline-block;
    padding: 0 36px;
    width: 49%;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--PYPC-FBL {
    margin-top: 185px;
    padding-bottom: 40px;
    font-size: 48px;
}

.infoblock .infoblock__sub-header--PYPC-SBDB {
    font-family: LatoBlack; /* font-weight: bold; */
    font-size: 44px;
    margin-top: 165px;
    margin-bottom: 20px;
}

.infoblock .infoblock__sub-header--MBDE {
    font-family: LatoItalic; /* font-style: italic; */
    margin-top: -25px;
    margin-left: 144px;
    width: 80%;
}

.infoblock .search-screen__image-title--PYPC {
    position: relative;
    left: 420px;
    margin-bottom: -65px;
    font-weight: bold;
    font-size: 19px;
}

.infoblock .image-title--PYPC {
    position: relative;
    left: 504px;
    margin-bottom: -45px;
    font-weight: bold;
    font-size: 19px;
}

.infoblock .bibliography-view-screen__bvs-info-block {
    margin-top: -260px;
    padding-bottom: 25px;
}

.infoblock .bvs-info-block__text {
    position: relative;
    width: 28%;
    left: 852px;
    padding: 10px;
    margin-top: 10px;
}

.infoblock .search-screen__info {
    font-family: LatoItalic; /* font-style: italic; */
    position: relative;
    margin-top: -455px;
    padding-bottom: 45px;
    left: 840px;
    width: 25%;
}

.infoblock .professor-photo__text {
    position: relative;
    left: 864px;
    margin-top: -275px;
    padding-top: 5px;
}

.infoblock .faculty-book-lists__text-rows {
    margin-bottom: -45px;
}

/*************************************************************************************************************/
/************************************************** KAT sixth page *******************************************/
/*************************************************************************************************************/

.beautiful-girl-bg {
    box-sizing: border-box;
    background: url("../images/KIC_KAT/kat_6_img_bg.png") no-repeat;
    background-size: cover;
}

.infoblock .rows__row--collage {
    width: 60%;
}

.infoblock .collage__info {
    width: 38%;
    position: relative;
    left: 252px;
    margin-bottom: -150px;
}

.infoblock .infoblock__sub-header--GHH {
    font-family: LatoItalic;
    /* font-style: italic; */
    text-align: center;
    font-size: 27px;
    padding-bottom: 10px;
    margin-left: 144px;
    width: 74%;
}

.infoblock .infoblock__kit-kat-go {

}

.infoblock .kit-kat-go__image-title--kic-stations {
    font-family: LatoBlack;
    /* font-weight: bold; */
    position: relative;
    left: 204px;
    margin-bottom: -22px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 19px;
}

.infoblock .kit-kat-go__image-title--kic-srs {
    font-family: LatoBlack;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    left: 804px;
    margin-top: -360px;
    padding-bottom: 325px;
}

.infoblock .image-text--SW {
    width: 26%;
    position: relative;
    left: 0;
    margin-left: 30px;
    margin-top: -225px;
    padding-bottom: 15px;
    font-family: LatoRegular;
}

.infoblock .bvs-section__image-title {
    font-family: LatoBlack;
    font-weight: bold;
    position: relative;
    left: 540px;
    margin-top: -287px;
    padding-bottom: 200px;
    font-size: 19px;
}

.infoblock .bvs-section__image-text {
    position: relative;
    width: 23%;
    left: 924px;
    margin-top: -115px;
    padding-bottom: 100px;
}

/*************************************************************************************************************/
/************************************************* KAT seventh page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__blocks {

}

.infoblock .blocks__block-item {
    display: inline-block;
    height: 185px;
    width: 50%;
    margin: 30px 24px;
    vertical-align: top;
}

.infoblock .blocks__block-item--1 {
    background: url("../images/KIC_KAT/kat_7_img_1.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 159px;
    width: 450px;
}

.infoblock .blocks__block-item--2 {
    background: url("../images/KIC_KAT/kat_7_img_2.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 166px;
    width: 450px;
    margin-left: 84px;
}

.infoblock .blocks__block-item--3 {
    background: url("../images/KIC_KAT/kat_7_img_3.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 195px;
    width: 485px;
}

.infoblock .blocks__block-item--4 {
    background: url("../images/KIC_KAT/kat_7_img_4.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 246px;
    width: 508px;
    margin-top: -16px;
}

.infoblock .blocks__block-item--5 {
    background: url("../images/KIC_KAT/kat_7_img_5.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 181px;
    width: 500px;
}

.infoblock .blocks__block-item--6 {
    background: url("../images/KIC_KAT/kat_7_img_6.png") no-repeat;
    background-size: contain;
    position: relative;
    height: 194px;
    width: 490px;
}

.infoblock .blocks__block-item--7 {
    background: url("../images/KIC_KAT/kat_7_img_7.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 360px;
    height: 172px;
    width: 500px;
}

.infoblock .block__title {
    margin-left: 118px;
    padding-top: 0;
}

.infoblock .block__title--1 {
    margin-left: 100px;
    padding-top: 17px;
}

.infoblock .block__title--2 {
    margin-top: 2px;
    margin-left: 100px;
}

.infoblock .block__title--3 {
    margin-top: 0;
    margin-left: 104px;
}

.infoblock .block__title--4 {
    padding-top: 44px;
    margin-top: 52px;
}

.infoblock .block__title--5 {
    padding-top: 32px;
    margin-left: 110px;
}

.infoblock .block__title--6 {
    padding-top: 32px;
}

.infoblock .block__title--7 {
    padding-top: 12px;
}

.infoblock .block__info {
    margin-left: 118px;
    width: 100%;
}

.infoblock .block__info--1 {
    width: 50%;
    margin-left: 100px;
}

.infoblock .block__info--2 {
    margin-top: -6px;
    margin-left: 100px;
}

.infoblock .block__info--3 {
    width: 40%;
    margin-left: 104px;
}

.infoblock .block__info--4 {
    width: 42%;
}

.infoblock .block__info--5 {
    width: 32%;
    margin-left: 110px;
}

.infoblock .block__info--6 {
    width: 46%;
}

.infoblock .block__info--7 {
    width: 43%;
}

.temp-bg {
    background: url("../images/KIC_KAT/kat_7_temp-bg.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 1450px;
}

/*************************************************************************************************************/
/************************************************** KAT eighth page ******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__sub-header--AYPCCE-H2 {
    text-align: center;
    font-family: LatoBlack; /* font-weight: bold; */
    font-size: 3.2rem;
    width: 82%;
    padding-left: 21%;
    line-height: 3.2rem;
}

.infoblock .infoblock__sub-header--AYPCCE {
    width: 75%;
    font-size: 34px;
    line-height: 34px;
    margin-left: 144px;
}

.infoblock .infoblock__image-section {
    margin-bottom: 20px;
}

.infoblock .image-section__image {
    width: 100%;
    height: 100%;
}

.infoblock .image-section__info {
    width: 31%;
    position: relative;
    left: 528px;
    margin-top: -155px;
    padding-bottom: 85px;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

.infoblock .infoblock__requirements-section {
    width: 87%;
    border: 2px solid black;
    margin: 0 auto 10px auto;
    padding: 15px 12px;
}

.infoblock .requirements-section__req-header {
    font-family: LatoBlack; /* font-weight: bold; */
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin: 0 0 10px 0;
}

.infoblock .requirements-section__left-row-text {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-top: 5px;
}

.infoblock .requirements-section__req-right-row {
    display: inline-block;
    width: 49%;
}

.infoblock .req-right-row__image {
    display: inline-block;
    width: 36%;
    padding-left: 30px;
}

.infoblock .req-right-row__text {
    display: inline-block;
    width: 49%;
    font-size: 14px;
    padding-left: 35px;
}

.infoblock .requirements-section__below-rows-text {
    padding: 5px 0 15px 0;
}

.infoblock .requirements-section__req-table {
    border: 1px solid black;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
}

.infoblock .table-data__data, .table-headers__header {
    border: 1px solid black;
    background: none;
    padding: 2px 5px;
    text-align: left;
}

.infoblock .req-table__table-headers {
    font-family: LatoBlack; /* font-weight: bold; */
    text-align: center;
}

.infoblock .table-headers__header {
    text-align: center;
}

/*.infoblock .req-table__table-headers th {*/
/*text-align: center;*/
/*}*/

/*************************************************************************************************************/
/************************************************** KAT ninth page *******************************************/
/*************************************************************************************************************/

.infoblock .infoblock__rows {

}

.infoblock .rows__row--CM {
    vertical-align: top;
    display: block;
    width: 100%;
}

.infoblock .row__text {
    display: inline-block;
    width: 49%;
    padding: 10px 12px;
    vertical-align: top;
}

.infoblock .infoblock__sub-header--CW {
    font-size: 43px;
    padding: 10px 0;
}

.infoblock .infoblock__images {

}

.infoblock .images__image {

}

/*************************************************************************************************************/
/************************************************** MEDIA QUERIES ********************************************/
/*************************************************************************************************************/

.infoblock img {
    width: 100%;
}

.infoblock * {
    box-sizing: border-box;
}

.brochure-block-wrap {
    width: 1200px;
    margin: 0;
    box-shadow: 2px 3px 5px 5px #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}
