.infoblock {
    width: 100%;
    overflow: hidden;
}

.infoblock img {
    width: 100%;
    height: 100%;
}

fieldset {
    border: none;
}

/*check service ticket*/
.infoblock__content-holder {
    overflow: hidden;
}

.content-holder__forms {
    width: 725px;
    float: left;
    padding: 0 20px;
}

.content-holder__pictures {
    padding: 15px 15px 0 0;
    width: 420px;
    float: right;
}

.content-holder__pictures img {
    padding: 5px 0;
    width: 100%;
    height: 100%;
}

input {
    font-size: 1.6rem;
    line-height: 3rem;
    height: 30px;
    padding: 2px 5px;
    color: #202020;
    display: block;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 5px 2px;
}

button {
    background: #33b74b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px 10px;
    cursor: pointer;
}

.bottom-img {
    margin: 15px auto 0;
    display: block;
}

.brochure-title-left {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: left;
    padding: 14px 0 10px;
}

/*check service ticket end*/

/*check order status*/
.service-bg {
    background: url("http://upload.ted-kteam.com/KIC/images/serviceSupportBG.png") no-repeat 0 219px;
    padding: 20px 20px 514px 20px;
    background-size: 1160px;
}

.infoblock__double-check-order-status {
    /*width: 100%;*/
    overflow: hidden;
}

.double-check-order-status__form {
    width: 41%;
    float: left;
    padding: 0 50px;
}

.border-right {
    border-right: 1px solid #000;
}

.double-check-order-status__form a.service-support-button {
    background: #33b74b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    width: 100px;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.content-holder__forms a.service-support-button {
    background: #33b74b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.overlayy {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.overlayy:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    color: #333;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: -15px;
    right: 1px;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.check-order-status-plane {
    margin-top: -140px;
}

/*check order status end*/

/*contact service department*/
body {
    margin: 0;
    color: #000;
    background: #fff;

}

/* General reset */
form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

img {
    border-style: none;
}

input, select, textarea {
    vertical-align: middle;

}

a:hover {
}

/* General settings */
#wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.gallery-holder, .gallery-holder1 {
    width: 100%;
    position: relative;
    padding: 40px 0;
}

.list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.list li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.list li.first. {
    position: relative;
    display: block;
    float: left;
}

.list img {
    height: auto;
    float: left;
    width: 100%;
}

.list_tabs {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    left: 50%;
    position: relative;
    float: left;
}

.list_tabs li {
    float: left;
    right: 50%;
    position: relative;
    padding: 0 5px;
}

#slide-switcher {
    margin: 0;
    padding: 10px 0 40px;
    list-style: none;
    left: 50%;
    position: relative;
    float: left;
}

#slide-switcher li a {
    width: auto;
    height: auto;
    background: none;
}

#slide-switcher li img {
    display: block;
}

/*contact service department end*/

.brochure-block-wrap {
    width: 1200px;
    margin: 0;
    box-shadow: 2px 3px 5px 5px #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.brochure-block-wrap-check {
    width: 1160px;
    margin: 0;
    box-shadow: 2px 3px 5px 5px #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.infoblock .infoblock__support-team-header-h2 {
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 15px 0 25px 0;
    position: absolute;
    top: 25px;
    left: 15%;
}

.infoblock .infoblock__support-team-image {
    width: 100%;
    height: 100%;
    margin-top: -22px;
    padding-bottom: 22px;
}

.infoblock__box {
    position: relative;
}

.infoblock .infoblock__advisors-header-h2 {
    text-align: center;
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 15px 0 25px 25px;
}

.infoblock .advisors__advisor {
    color: #1E3A6D;
    font-family: 'LatoBold', sans-serif, helvetica, arial;
    text-align: center;
    padding-top: 15px;
}

.infoblock__advisors {
    width: 33%;
    position: absolute;
    top: 0;
    left: 25px;
}

.advisors__block {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #888;
    -webkit-box-shadow: 0 10px 20px #000;
    -moz-box-shadow: 0 10px 20px #000;
    box-shadow: 0 10px 20px #000;
    margin-bottom: 10%;
}

.infoblock__advisors-image {
    margin-top: 130px;
}

/*software and support team*/
.soft-team {
    padding: 20px 0;
}

.chief_h2 {
    font-size: 3.4rem;
    line-height: 3.6rem;
}

.soft-team_title {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
}

._center {
    text-align: center;
}

.soft-team_chief {
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
}

.soft-team_left-img {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.soft-team_left-img img {
    width: 100%;
    height: 100%;
}

.chief_h3 {
    color: #000;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: normal;
    margin: 0;
}

.container-team {
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
}

.container-team > div {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    margin: 10px 0;
}

.team-avatar {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

.team-avatar:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background: #044e04;
    height: 0;
    transition: 0.8s;
    opacity: 0.6;
    border-radius: 15px;
}

.team-avatar:hover:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
}

.team-avatar img {
    width: 100%;
}

.team-avatar .green-block {
    transform: translateY(0);
    transition: 0.7s;
    padding: 0 25px;
    position: relative;
    z-index: 2;
}

.team-avatar:hover .green-block {
    transform: translateY(-110px);
}

.team-avatar .green-block strong {
    font-size: 20px;
    color: #ccc;
}

.team-avatar .green-block p {
    font-size: 14px;
    color: #ccc;
}


/*slide*/
.slide-track {
    height: 180px;
    position: relative;
    left: 0;
    transition: 1s;
    width: 360px;
}

.active-slide {
    left: -180px;
}

.slide-track img {
    width: auto;
    height: 100%;
    float: left;
}

